<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <%- include("partials/nav-bar.ejs") %>
    <header>
        <h1>Welcome, <%= user.name %>!  Looks like you haven't been here before.  Let's create a profile!</h1>
    </header>
    <main>
        <% if (message) { %>
            <div class="alert alert-danger" role="alert">
                <%= message %>
            </div>
            <% } %>
            <form action="/createProfile" method="POST">
                <label for="name">Name:</label>
                <input id="name" type="text" name="name" value='<%= user.name %>' readonly>
                <br/>
                <label for="email">Email:</label>
                <input id="email" type="text" name="email" value='<%= user.email %>' readonly>
                <br/>
                <label for="school">School:</label>
                <select id = "school" name = "school" value="Select a school.">
                    <option value = "--Select a school--">--Select a school--</option>
                    <option value = "COLLEGE">COLLEGE</option>
                    <option value = "WHARTON">WHARTON</option>
                    <option value = "ENGINEERING">ENGINEERING</option>
                    <option value = "NURSING">NURSING</option>
                </select>
                <!-- <label for="school">School:</label>
                    <input id="school" type="text" name="school"> -->
                    <br/>
                    <label for="gradYear">Graduation Year:</label>
                    <input id="gradYear" type="text" name="gradYear">
                    <br/>
                    <label for="major">Major:</label>
                    <input id="major" type="text" name="major">
                    <br/>
                    <label for="bio">Bio:</label>
                    <input id="bio" type="text" name="bio">
                    <br/>
                    <input type="submit" value="Create Account!">
                </form>
            </main>
        </body>
        </html>