<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div>
        <%- include("partials/nav-bar.ejs") %>
    </div>
    <div class="p-5"> 
        <header>
            <h1>Hi <%=user.name%>, what's cookin'? </h1>
            <h3>Here are your appointments as a tutee:</h3>
            <br/>
        </header>
        <main>
            <% if (!appts) {%>
              <p>No scheduled appointments</p>
            <% } else {
            appts.sort((a, b) => (a.date > b.date) ? 1 : -1);
            console.log("sorted = " + appts);
            let date = new Date();
            let today = "" + date.getFullYear() + ("0" + date.getMonth()).slice(-2) + 
            ("0" + date.getDate()).slice(-2) + ("0" + date.getHours()).slice(-2);
            console.log("date = " + today); 
            let pastAppts = [];
            let upcomingAppts = []; 
            for (var i = 0; i < appts.length; i++) { 
              let dateString = appts[i].date;
              if (appts[i].date <= today) {
                pastAppts.push(appts[i]);
              } else {
                upcomingAppts.push(appts[i]);
              }
            }%>
            <div class="list-group">
              <% if (!upcomingAppts) { %>
                <h5>No Upcoming Appointments</h5>
                <% } else { %>
                  <h5>Upcoming Appointments</h5>
                  <%for (var i = 0; i < upcomingAppts.length; i++) { 
                  let dateString = upcomingAppts[i].date;
                  let date = new Date(dateString.substring(0, 4), dateString.substring(4, 6), 
                  dateString.substring(6, 8), dateString.substring(8, 10));%>
                  <a href="#" class="list-group-item list-group-item-action">
                  <b>Tutor:</b> <%=upcomingAppts[i].tutorName%> &emsp; <b>Date:</b> <%=date.toUTCString()%>
                  </a>
            <% } 
                }%>
                <br/>
            <div class="list-group">
                <% if (!pastAppts) { %>
                <h5>No Past Appointments</h5>
                <% } else { %>
                  <h5>Past Appointments</h5>
              <% for (var i = 0; i < pastAppts.length; i++) { 
                let dateString = pastAppts[i].date;
                let date = new Date(dateString.substring(0, 4), dateString.substring(4, 6), 
                dateString.substring(6, 8), dateString.substring(8, 10));%>
                <a href="#" class="list-group-item list-group-item-action">
                 <b>Tutor:</b> <%=pastAppts[i].tutorName%> &emsp; <b>Date:</b> <%=date.toUTCString()%>
                </a>
            <% } 
              }
              }%>
        </main>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
      window.intercomSettings = {
        app_id: "r0n07msw"
      };
    </script>

    <script>
    // We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/r0n07msw'
    (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/r0n07msw';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
    </script>
</body>
</html>